@model ProductManagement.Models.Product

@{
    ViewData["Title"] = "Edit Product";
}
<h2>Edit Product</h2>
<form asp-action="Edit" method="post">

    <input type="hidden" asp-for="ProductId" />
    <input type="hidden" asp-for="ProductCode" />

    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Description" class="form-label"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>

    <div class="mb-3">
        <label asp-for="Price" class="form-label"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="CategoryId" class="form-label">Category</label>
        <select asp-for="CategoryId"
                asp-items="ViewBag.CategoryId"
                class="form-select">
         </select>
         <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Update</button>
    <a asp-action="Index" class="btn btn-secondary">Back</a>


</form>

@section Scripts{
@{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}