
@{
    ViewData["Title"] = "Upload Products";
}

<h2>Upload Products via Excel</h2>

<form asp-action="UploadExcel"
    method="post"
    enctype="multipart/form-data">

    @Html.AntiForgeryToken()

    
    <div class="mb-3">
        <label class="form-label">Select Excel File</label>
        <input type="file" name="file" class="form-control" accept=".xlsx,.xls" />
    </div>
    @if (ViewBag.Error != null)
    {
        <div class="alert alert-danger">
            @ViewBag.Error
        </div>
    }

    <button type="submit" class="btn btn-primary">Upload</button>

    <a asp-action="Index" class="btn btn-secondary">Back</a>
</form>
